body {
    background-image: url("/static/img/signin-background.png");
}

.signin-box {
    transform: translate(0, 15vh);
    margin: 0 auto;

    height: 70vh;
    width: 30vw;
    background-image: url("/static/img/signin-box-background.png");
    background-size: 100% 100%;
}

#signin-form {
    transform: translate(0, 35vh);
    text-align: center;

    height: 35vh;
}

#userid-input {
    transform: translate(-1.2vh, 0.5vh);
}

#password-input {
    transform: translate(-1.2vh, 4.3vh);
}

.signin-input {
    height: 14%;
    width: 65%;

    border: none;
    outline: none;
    background: transparent;
}

.signin-input::placeholder {
    text-align: center;
    opacity: 1;
}

#signin-button {
    transform: translate(-2.7vh, 8.4vh);
}

#signup-button {
    transform: translate(0, 8.4vh);
}

.signin-button {
    height: 16%;
    width: 30%;

    border: none;
    border-radius: 1vh;
    background-color: #6A60DF;
}
