body {
    background-image: url("/static/img/background.png");
    background-size: 100%;
    font-family: Arial;
}

#main-box {
    height: 70vh
}

#main {
    display: inline-block;

    margin-top: 3vh;
    margin-bottom: 3vh;
    margin-right: 4.5vw;
    margin-left: 4.5vw;
}

#welcome {
    color: white;
    font-size: 4vh;
}

#items {
    display: flex;

    justify-content: space-between;

    height: 60vh;
    width: 80vw;
}

.inside-box {
    display: inline-block;

    margin-top: 5vh;

    height: 20vw;
    width: 20vw;

    background-color: white;
    border-radius: 1vh;

    text-align: center;
}

.score {
    margin-top: 5vh;
    margin-bottom: 3vh;

    color: #6A60DF;
    font-size: 5vw;
}

.label {
    color: #6A60DF;
    font-weight: bold;
    font-size: 1.5vw;
}

.progress {
    appearance: none;
    height: 6vh;
    width: 8vw;

    overflow: hidden;
    border: 1px solid gray;
    border-radius: 1vh;
    background: white;
}

.progress::-webkit-progress-bar {
    height: 6vh;
    width: 8vw;

    overflow: hidden;
    background: white;
}

.progress::-webkit-progress-value {
    background: #6A60DF;
}

.progress::-moz-progress-bar {
    background: #6A60DF;
}
