body {
    background-image: url("/static/img/background.png");
    background-attachment: fixed;
    font-family: Arial;
}

body::-webkit-scrollbar {
  display: none;
}

#main-box {
}

#main {
    display: inline-block;

    margin-top: 3vh;
    margin-bottom: 5vh;
    margin-right: 8vw;
    margin-left: 8vw;
}

.category {
    margin-bottom: 4vh;
}

.category-name {
    color: white;
    font-size: 2vw;
}

.chal {
    margin-right: 1vw;
    margin-bottom: 2vh;

    width: 13vw;
    height: 9vh;

    cursor: pointer;

    background-color: #404040;
    border: none;
    box-shadow: 0.1vw 0.1vw 0.1vw gray;
    color: white;

    font-size: 1.2vh;
}

.chal:hover {
    background-color: #303030;
}
